:root {
    --background: hsl(0, 0%, 100%);
    --color: hsl(0, 0%, 13%);
    --accent-color: hsl(207, 90%, 54%);
    --link-color: hsl(206, 100%, 39%);
}
*,*::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.dark-theme {
    --background: hsl(225, 5%, 17%);
    --color: hsl(240, 7%, 68%);
    --accent-color: hsl(36, 100%, 50%);
    --link-color: hsl(36, 100%, 50%);

    transition: all .3s ease-in-out;
}
body.dark-theme button {
    --accent-color: hsl(36, 100%, 50%);
    --link-color: hsl(36, 100%, 50%);
}
body {
    background: var(--background);
    color: var(--color);
    font-size: 18px;
    line-height: normal;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: var(--link-color);
}

section {
    padding: 5rem 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
}
h1 span {
    color: var(--accent-color);
}

button#toggle {
    color: white;
    background: var(--accent-color);

    border: 2px solid var(--accent-color);
    padding: .5rem 1rem;
    border-radius: .25rem;
    margin-top: 1rem;

    transition: all .3s ease-in-out;
}

button#toggle:hover {
    transform: scale(1.1);
    color: var(--accent-color);
    background-color: transparent;
}