:root {
    --background: hsl(0, 0%, 100%);
    --color: hsl(0, 0%, 13%);
    --accent-color: hsl(207, 90%, 54%);
    --link-color: hsl(206, 100%, 39%);
}
*,*::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.dark-theme {
    --background: hsl(225, 5%, 17%);
    --color: hsl(240, 7%, 68%);
    --accent-color: hwb(36 0% 0%);
    --link-color: hwb(36 0% 0%);
}

body {
    background: var(--background);
    color: var(--color);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: var(--link-color);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

h1 span {
    color: var(--accent-color);
}

button#toggle {
    color: var(--color);
    background: var(--accent-color);

    border: none;
    padding: .5rem 1rem;
    border-radius: .25rem;

    transition: all .3s ease-in-out;
}

button#toggle:hover {
    transform: scale(1.2);
}